* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
  
  :root {
    --main-color: #f8b281;
    --secondary-color: #1b1b1b;
  }
  
  @font-face {
    font-family: "argonite";
    src: url("./assets/stone\ orgonite.woff");
  }
  section {
    padding: 5%;
  }
  
  h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 125%;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav svg {
    cursor: pointer;
    z-index: 10;
  }

  .contact-buttons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .contact-buttons .button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    background-color: #e09fba; /* Button color */
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .contact-buttons .button:hover {
    background-color: #da689e; /* Hover color */
  }  
  
  .links {
    position: absolute;
    background: rgba(255, 255, 255, 0.9); /* Make it slightly translucent */
    width: 25%; /* Set the width to 25% of the page */
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(-100%); /* Initially hide the nav */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition */
  }
  
  /* Show the navigation when active */
  nav svg.active + .links {
    transform: translateX(0);
  }
  

  /* Adjust the link styles */
  .links a {
    color: var(--secondary-color);
    font-size: 1.5rem;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .logo h1 {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-family: "argonite", sans-serif;
  }
  
  .logo img {
    width: 1.5rem;
  }
  
  .front-page {
    min-height: 100vh;
    color: white;
  }
  .selling-point {
    margin-top: 25vh;
    font-family: "argonite", sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
    text-align: center;
  }
  .selling-point h3 {
    font-family: sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
  }
  .ctas {
    margin-top: 2rem;
  }
  .ctas button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
    margin: 1rem;
  }
  .cta-main {
    background-color: var(--main-color);
    color: var(--secondary-color);
  }
  .cta-main a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  .cta-sec {
    background-color: var(--secondary-color);
    color: white;
  }
  
  .hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .classes {
    color: var(--secondary-color);
    text-align: center;
    font-family: "argonite", sans-serif;
  }
  .videos video {
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
  }
  .meditation,
  .yoga,
  .pilates {
    position: relative;
  }
  .videos h3 {
    position: absolute;
    color: var(--main-color);
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.408);
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 2rem;
  }
  
  .about {
    color: var(--secondary-color);
  }
  .about h2 {
    font-family: "argonite", sans-serif;
    text-align: center;
  }
  .about img {
    width: 100%;
    margin-top: 2rem;
  }

  .image-text-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Adjust the gap as needed */
    margin-top: 20px;
  }
  
  .coding-photo {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    border-radius: 10px;
  }
  
  .about p {
    line-height: 150%;
    font-size: 1.2rem;
    color: var(--secondary-color);
  }

/* Timeline Styles */
.timeline-section {
  padding: 5%;
  background-color: #f9f9f9;
}

.timeline-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  flex-direction: row-reverse; /* Reverses the order for horizontal layout */
}

.timeline {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; /* Align items in reverse horizontally */
  position: relative;
}



.timeline {
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: auto; /* Allow horizontal scrolling */
}

.timeline-item {
  position: relative;
  flex: 0 0 200px;
  margin-right: 30px;
}

.timeline-item:last-child {
  margin-right: 0;
}

.timeline-content {
  background: white;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
  margin-top: 0;
}

.timeline-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-top: 10px;
}

.timeline-section .timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: #e9ecef;
  z-index: -1;
}


  
/* Info Boxes Container */
.info-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* Space between boxes */
  justify-content: center;
  margin: 2rem 0;
}

/* Individual Info Box */
.info-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  width: 200px; /* Initial width */
  height: 100px; /* Initial height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info-box h3 {
  margin: 0;
  font-size: 1.2rem;
  padding: 0.5rem;
  font-family: "argonite", sans-serif; /* Title font */
}

.info-box .info-content {
  display: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif; /* Content font */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Hover Effect */
.info-box:hover {
  width: 40%; /* Expanded width to cover half of the page */
  height: 400px; /* Expanded height */
}

.info-box:hover .info-content {
  display: block;
}

.info-box:hover h3 {
  margin-bottom: 0.5rem;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0; /* Adjust the margin as needed */
}

.image-container img {
  max-width: 30%; /* Adjust the width as needed */
  height: auto;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
}





  
  @media screen and (min-width: 768px) {
    body {
      padding: 0% 10%;
      overflow-x: auto;
    }
    .videos {
      display: flex;
      gap: 2rem;
    }
    .about {
      display: flex;
      gap: 5rem;
      justify-content: space-between;
    }
    .about img {
      width: 50%;
    }
    .about h2 {
      text-align: start;
    }

  }

  


